@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&family=Tangerine:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tangerine", sans-serif;
}

.topnav {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  padding: 20px;
  font-family: "Cinzel", sans-serif;
  background: hsl(34, 57%, 50%);
  color: white;
  cursor: default;
}

.topnav-right {
  float: right;
}

.nav {
  position: relative;
  margin: 10px;
  font-family: "Cinzel", sans-serif;
  background-color: hsl(34, 57%, 70%,0.5);
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav:hover {
  color: hsl(0, 59%, 41%);
  transform: scale(0.9) translateY(-5px);
}

.text navhr {
  position: absolute;
  top: 150px;
  right: 0;
  color: burlywood;
  width: 30%;
  margin: auto auto;
}

.image img {
  position: absolute;
  top: 22%;
  width: 100%;
  height: 40%;
  object-fit: cover;
  opacity: 40%;
}

.text {
  position: absolute;
  top: 24%;
  background-color: hsl(208, 100%, 97%,0.6);
  max-width: 700px;
  margin: 20px 80px;
  padding: 20px;
}

.text h3 {
  font-size: 100px;
  font-weight: 800px;
  color: hsl(0, 59%, 30%);
}

.text p {
  font-size: 50px;
  font-weight: 600;
  color: hsl(0, 59%, 28%);
  z-index: 3;
}

.row{
  margin-top: 35%;
}


.lcol-1 {width: 8.33%;}
.lcol-2 {width: 16.66%;}
.lcol-3 {width: 25%;}
.lcol-4 {width: 33.33%;}
.lcol-5 {width: 41.66%;}
.lcol-6 {width: 50%;}
.lcol-7 {width: 58.33%;}
.lcol-8 {width: 66.66%;}
.lcol-9 {width: 75%;}
.lcol-10 {width: 83.33%;}
.lcol-11 {width: 91.66%;}
.lcol-12 {width: 100%;}

[class*="lcol-"] {
  float: left;
  padding: 15px;
  border:none;
}

.rcol-1 {width: 8.33%;}
.rcol-2 {width: 16.66%;}
.rcol-3 {width: 25%;}
.rcol-4 {width: 33.33%;}
.rcol-5 {width: 41.66%;}
.rcol-6 {width: 50%;}
.rcol-7 {width: 58.33%;}
.rcol-8 {width: 66.66%;}
.rcol-9 {width: 75%;}
.rcol-10 {width: 83.33%;}
.rcol-11 {width: 91.66%;}
.rcol-12 {width: 100%;}

[class*="rcol-"] {
  float: right;
  padding: 15px;
  border: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row a img{
  position: relative;
  transition: transform 0.5s;
  margin: 20px 175px;
}

.row a:hover img{
  transform: scale(0.95);
}

.image1{
  height: 27.1%;
  width: 27.1%;
}

.image2{
  height: 24.8%;
  width: 24.8%;
}

.row p{
  position: relative;
  bottom: 10%;
  font-family:'Crimson Text', serif;
  font-size: 25px;
  max-width: 80%;
  line-height: 2em;
  padding: 40px;
  background-color: hsl(33, 100%, 88%,0.5);
  display: flex;
  align-items: baseline;
  margin: 40px;
}